
# DB
SAMPLE_DB =
  (description =
    (address_list =
      (address = (protocol = tcp)(host = application-{{.cluster_env}}-{{.cluster_number}}-db-svc)(port = 1521))
    )
    (connect_data =
      (sid = orcl)
    )
